<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>burger-logger!</title>
</head>

<body>
    <div class="container-fluid">
        <center>
            <div class="row">
                <img src="/assets/img/bacon.jpg" alt="Burger Img">
                <div class="jumbotron">
                    <h1>burger-logger!</h1>
                    <p id="info">Pick a burger from the list.Then devour it.
                        <br>Enter a Burger of your choice  from  the list using the submit bottom below. 
                    </p>
        </center>
        <br>
        {{{body}}}
        <br>
        <br>
        
        <form action="burger/create" method="POST">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    <center>
                        <label for="new_burger" class="submitFont">Create a new burger!</label>
                    </center>
                    <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="
                        name="burger_name"></textarea>
                </div>
                <div class="col-md-3 "></div>
            </div>
            <center>
                <button id="submit-button " type="submit " class="btn btn-danger ">Ready my Burger!</button>
            </center>
        </form>
        <br>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted"><a href="https://github.com/negasimichael/burger-logger">GitHub Repo</a></span>
        </div>
    </footer>
</body>

</html>