body {
        background-color: #FFC72C;
      }
      .display {
        border-bottom: 2px solid gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
  
  .jumbotron h1{
      color: black;
  
  }
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 10%;
    width: 20%;
  }
  
  .submitFont{
      color: black;
  }

  #info {
      background-color: rgba(141, 156, 156, 0.562)
  }

  .submitFont{
    background-color: rgba(240, 255, 255, 0.562)
  }

  #alreadyeaten, #burgersavailable {
      background-color: rgba(113, 129, 129, 0.836)
  }

  .footer {
      background-color: grey;
      color: black
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(0, 119, 255);
    background-color: transparent;
    text-decoration: underline;
}